﻿/* print specific styling.  overrides those in 
  style.css
*/
body, #header img {
    width: 7in;
}
#header img {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
#sidenav, #nav, .no_print, .top {
    display:none;
}
#content, #content p, #general_description {
    width: 6.34in;
}

#concern {
    page-break-before: always;
}
