/* CSS styles for BirdWeb and Breeding Bird Atlas web sites */

/* Menu background color (tan): #C7B299
   Line color (rust): #87331F
   Accent Color (yellow): #F3D863
*/
body {
    margin: 0;
    padding: 0;
    font-family: Open Sans,Arial,sans-serif;
   font-size:14px;
}

body, h1, h2, h3, h4, p, a {
    line-height: 1.4em;
}
h1, h2, h3, h4  {
    font-family: 'Connect Display', Helvetica, Arial, Lucida, sans-serif;
}
h2 {
    font-size: 1.2em;
}
dl {
    margin-bottom: .5em;
}
dd {margin: 0 0 .5em 2em;}
.details {
    padding-top: 1em;
}

div.details > p {
    line-height: 1.5em;
}

ul {margin: 1em 0;}

.details img {
    float: right;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: #87331F;
    text-decoration: underline;
}

#wrap, body {
    margin: 0;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    width: 785px;
}

header img {
    border: 0;
    border-bottom: 7px solid #87331F;
    float:left;
}

.left {
    float: left;
}

label img {
    float: left;
}

nav {
    background-color: #C7B199;
}

nav ul {
    padding: 0;
    margin: 0;
    float: right;
}

nav li {
    line-height: 2em;
    float: left;
    font-size: 1.4em;
    list-style: none;
    text-align: center;
    margin-left: 2em;
}
nav li:last-child {
    margin-right: .5em;
}

/*special tweaking for individiual menu items */

nav a {
    color: black;
}

#navbuttons a:hover {
    color: White;
    text-decoration: none;
}

#navbuttons {
    background-color: #c7b199;
    width: 584px;
    border-right: 1px solid black;
}

#navforce td {
    border: 0;
    background: #C7B299;
    text-align: center;
}

#maintab td#navbuttons {
    background: #87331F;
    border-right: 1px solid #000000;
}

#support_sas { color:#ccc; cursor:pointer; }
#support_sas:hover {color:White;}

.searchbox {
    width: 18em;
    margin: .5em .5em .5em 2.8em;
    border: 4px solid #c0927d;
    font-size: large;
}
.searchbox_small {
    border: 1px solid black;
    font-size: 100%;
    margin: 0em 0.5em 0 1em;
    width: 14em;
}

.searchbutton {
width: 74px;
height: 24px;
border:none;
text-indent: -9999px;
position:relative;
top:2px;
}
.searchbutton_small{
width: 57px;
height: 18px;
}

.donate {
    padding: 15px;
    text-align: right;
    font-weight: bold;
    background-color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    line-height: 2em;
}
.donatebutton {
    background-color: #FF0;
    padding: 5px;
    margin-left: 3px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

#main {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

.sidenav {
    width: 198px; 
    background: #fff;
    text-align: left;
    text-indent: -.75em;
    border:0;
    padding-top:26px;
}

.sidenav ul {
    padding: .5em 0 2em 3em;
    margin-right: .2em;
    float: left;
}

.sidenav li {
    text-align: left;
    line-height: 1.5em;
    font-size:1em;
    margin-left:0;
    float:none;
}

.topnav {float:left;
         width:100%;}
.topnavmenu{text-align:right;}
.topnav td {vertical-align:middle;}

.content {
    border-left: 1px solid #000000;
    margin: 0;
    padding: 26px 20px 0 20px;
}

/* "return to top" styling */
.top {
    font-size: 85%;
    float: right;
    text-align: right;
}

.top a {
    text-decoration: underline;
}

.content p {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

.content table td p {
    width: auto;
}

.content h1 {
    font-size: 1.75em;
    margin-bottom: .5em;
}

.content h1 a {
    color: #87331F;
}

.content h2 {
    clear: both;
    margin: 0;
    margin-bottom: .25em; /* color: #006C46; */
}

.content h3 {
    color: #87331F;
    margin: 0;
}

.content td {
    border: 0;
}

.content tbody td {
    margin: 0;
    padding: 0;
    vertical-align:top;
}

.content blockquote p {
    width: inherit;
}
.content p a {
    color: #87331F;
}

footer {
    clear:both;
    border: 0;
    background: #87331F;
    line-height: 3em;
    margin-top:2em;
    border-bottom: 1px solid #000000;
}

footer div {
    text-align:center;
}
footer a, footer a:hover {
    color:White;
}

#bird_desc {
    clear: both;
    padding-top: 10px;
}

label {
    font-weight: bold;
}
.photo {
    float: left;
}

.photo, .mapimage img {
    border-style: double;
    border-width: 6px;
    border-color: #d9e0e6;
    margin: 0 8px 0 0;
    padding: 4px;
    background: #fff;
    border-bottom-color: #c8cdd2;
    border-right-color: #c8cdd2;
}

.photo img {
    border:none;
}
.photo figcaption {
    clear:left;
}
.photo .credit {
    text-align:right;
}
.photo p, .credit a, .credit span {
    color: #666;
    font-size: .8em;
}
.photo p{
    font-size: 75%;
    font-style:italic;
    margin: 5px 0;
    width: 180px;
    text-align:center;
}

p.enlarged_description {
    width: 500px;
    text-align:left;
    color: #222;
}
.mapimage p a {
    color: #87331f;
}

.tallmap img {
    height: 315px;
}
#filmstripscroll {
    overflow:hidden;
    width: 180px;
}

#filmstrip {
    list-style:none;
    margin: .5em 0;
}
#filmstrip li {
    margin:0;
    display:inline;
}
#filmstrip li img {
    margin-left:2px;
    border: 1px solid #666;
}

#slider {
    margin: .5em auto 0 auto;
    width: 160px;
}

#slider .ui-slider-handle {
    height: .8em;
}

#slider.ui-slider-horizontal{
    height:.4em;
}
/* special photo style for sites detail page */

#site_desc .photo dl {
    margin: 0;
}

#siteecoregions {
    margin-top: -1em;
    margin-bottom: 1em;
}
#siteecoregions a {
    color: #87331f;
}

.credit span {
    font-style:italic;
    display: block;
}

.orderlist {
    border-top: 1px solid #87331F;
}

.orderlist dl {
    margin: 2em 0 1em 0;
    padding: 0;
}

.orderlist dt {
    clear: right;
    font-weight: bold;
}

.orderlist dd {
    width: 480px;
}

.birdphotos {
    display:inline-block;
    vertical-align:top;
    margin: .25em 7px ;
    width:74px;
}
.birdphotos span {
    display:block;
    font-size:small;
    line-height:1.2em;
}

.birdphotos img {
    border: 1px solid #893320;
}

.familylist ul {
    clear: both;
    margin-top: 1em;
    list-style: none;
}

.familylist li {
    float: left;
    width: 440px;
}

.familylist a {
    vertical-align: middle;
    line-height: 42px; /* match the height of the family silhouette*/
    padding-left: 5px;
}
.familylist img {
    border-width: 0;
}

.birdlist a, .familylist a {
    color: #87331F;
}

/* bird detail formats */
#bird_summary{
    float:left;
    width: 225px;
    height: 270px;
    margin-top: 1em;
}
#tabs { 
    clear:both;
    margin:2em 0;
    display:inline-block;
}
#infodialogorder, #infodialogfamily {
    display:none;
}
/* range map thumbnails */
.map {
    float: right;
    width: 100px;
}
.map p {
    font-size: .8em;
    text-align:center;
    color: #222;
    width:inherit;
    padding-left:9px;
}

.map a {
    text-decoration:underline;
    color: #666 !important;
}

.map div {
    border-top: 1px solid #87331f;
    width:130px;
    margin: 0 0 10px 0;
    
}

.heading {
    text-align: center;
    font-weight: bold;
}

#scientific_name, .latinname, .title {
    font-style: italic;
}

.current_bird {
    font-weight: bold;
}

#namap {
    float: right;
    margin-left: 5px;
    margin-bottom: 5px;
}
#namap img {border:0;}

#badges li {
    display: inline;
    margin:0 4px 0 0;
}

#speciesofconcern p {
    text-align:center;
    margin-top: 1em;
}

#concernpopup {
    border: 1px solid black;
}

/* end bird detail */

/* resources.aspx page */
#resources a {
    color: #87331F;
}

#resources li {
    margin-left: 3em;
}

/* FamilySpecies.ascx */
#familyspecies {
    float: right;
    border: 1px black solid;
    margin: 5px;
    text-align: left;
    padding-left: 20px;
}

#familyspecies ul {
    list-style: none;
    margin: 5px 10px 5px -15px;
}

/* species of special concern page*/

#concern table, #speciesofconcern table {
    border-collapse: collapse;
    margin: 1em auto;
    width: 100%;
    clear: left;
}

#concern th, #speciesofconcern th {
    background: #87331f;
    border: 1px solid #f2edd7;
    color: #fff;
    font-weight: normal;
    padding: .4em;
    text-align: center;
}

#concernpopup {
    margin: 1em auto;
    border: 1px solid #87331f;
    padding:1px;
}
#concernpopup table {
    margin:0;
    padding:1px;
}
#concernpopup th {
    color: #87331f;
    background:white;
    font-weight:bold;
}

#concern td, #speciesofconcern td {
    background: #f6f4ee;
    border: 1px solid #f2edd7;
    padding: .4em;
    text-align: center;
}

#concern TR.altrow TD {
    background: #fff;
}

#concern .altcol {
    background: #FFFFE5 !important;
}

#concern .birdname A {
    color: #000;
}

#concern .birdname {
    background: #c7b299;
    text-align: left;
}

#concern .endangered {
    font-weight: bold;
}

#concern th a {
    color: white;
}

#concern caption a {
    font-weight: bold;
    color: #87331F;
}

.qlink, .familymembers h2 {
    border-bottom: 1px solid #C7B299;
    color: #87331F;
    padding-bottom: .25em;
    padding-left: 2em;
    margin-right: 3.5em;
    padding-right: .3em;
    text-indent: -.75em;
}

#smallimage a {
    font-size: 90%;
    font-weight: bold;
    float: left;
    clear: both;
}

/* birding sites list */
#sitelist { border: solid black 1px;
}
#sitelist::after {
    clear: both;
    display: table;
    content: "";
}
#sitelist ul {
    float: right;
    padding: 0 1em 1em 2em;
    margin: 0;
    width: 240px;
    list-style: none;
    text-indent: -1em;
    line-height: 1.5em;
}
#sitelist h2 {
    margin: .5em;
}
#sitelist li {
    word-break: break-word;
}

/* Style Search Results page */

.searchresultHeader {
    color: #87331f;
    clear: left;
    padding-top: .5em;
}

#searchresult ul {
    list-style: none;
}

/*.latinname {
	font-style: italic;
}*/
/* End - Style Search Results page */

/* blurb formatting */
.blurb table {
    padding-bottom: 2em;
}

.blurb th {
    background: #fff;
    color: #000;
    font-weight: bold;
    font-size: 120%;
}

.blurb img {
    float: right;
    padding: 0 0 8px 8px;
}

.blurb #more a {
    font-size: 80%;
    color: #87331F;
}

/* end blurb formatting */

#credits {
    width: 100%;
}

#credits tr td {
    padding-bottom: 1.5em;
}

#credits h4 {
    margin-bottom: .25em;
}

#credits h5 {
    margin-top: .5em;
    margin-bottom: .25em;
}

#credits p {
    margin-top: .5em;
}

#credits a, #soundtosage a {
    color: #87331F;
}
#info {
    float: right;
    width: 16px;
    height: 16px;
    border: 0;
}
#abundance {
    width: 100px;
}
#checklist {
    width: 125px;
}
#sound_button {
    margin-left: .5em;
    vertical-align: middle;
}
label {
    margin-bottom: .5em;
}

#homesearch p {
    font-size: 1.2em;
    margin-left: 2.8em;
    margin-bottom:1em;
    padding-top: 2em;
}

#homemenu {
    margin-top: 1.5em;
}

#homemenu div {
    margin-left: 2.25em;
}

#homemenu {
    border-top: 4px solid #dec1b3;
    border-bottom: 4px solid #dec1b3;
    background-color: #e9d4c9;
}

.subhead {
    font-size: 1.2em;
    display: block;
    font-weight: bold;
    margin-bottom: .5em;
}
#homemenu table {
    width:90%;
}

#homemenu table td {
    vertical-align:middle;
    padding-bottom:1.5em;
}
#homemenu img {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin-right: .5em;
}

#homemenu h2 {
    font-size: large;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #87331F;
}
#week div {
  margin: 0 ;
  padding-top:2.5em;
}

.weekly img {
    display:block;
    border: 2px solid #893320;
    margin:0 auto;
    float:none;
    width: 100px;
    height: 100px;
}

.weekly h2, .sas_promo h2 {
    text-align:center;
    margin-bottom: .5em;
}

.weekly h2 span {
    color:Black;
    border-bottom: 1px solid #bb8973;
}

.weekly h3, .sas_promo h3 {
    text-align:center;
    color: #893320;
    margin-top:.5em;
    font-size: 1em;
}

.weekly a {
    color: #893320;
}

.weekly .detail_name {
    font-weight:normal;
    font-style:italic;
    margin-top:0;
}

.weekly p {
    margin: 1em;
}

.weekly li {
    margin-left: 5em;
}

.weekly li a, .sas_promo li a {
    text-decoration:underline;
    color:Black;
    font-weight:bold;
}

.weekly #support_sas {
    margin-top: -1.5em;
    text-align:center;
    display:inline-block;
}
.sas_promo {
    border: 1px solid #893320;
    width: 175px;
    clear:both;
    margin: 20px 0 30px 10px;
}            
.sas_promo img {
    border-top: 1px solid #893320;
    border-bottom: 1px solid #893320;
}

#support_sas {
    clear: both;
    background-color: #38323d;
    text-align: center;
    padding: 9px;
     margin: 1.5em;
    font-weight: bold;
    font-size: 95%;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 3px 3px 2px #888;
    -webkit-box-shadow: 3px 3px 2px #888;
    box-shadow: 3px 3px 2px #888;
    text-decoration: none;
    display: block;
}

.sas_promo #support_sas { 
    height: 30px;
    width: 137px;
    margin-left:20px;
}               

.sas_promo li {
    list-style:disc inside;
}
.sas_promo footer {background-color: white;}
                    
#maincontent{
    width:534px;
    float:left;
}

/* autocomplete */
.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em 0 .5em;
    margin-top: .5em;
    line-height: 1.5;
    list-style:none;
    color:#893320;
}

.ui-autocomplete {
    width: 200px;
    background:white;
    border:1px solid #893320;
}
.ui-menu-item {
    list-style:none;
    margin-left:.5em;
}

.ui-menu-item a:hover, .ui-autocomplete .ui-state-hover {
    color:White;
    background-color:#893320;
    text-decoration:none;
}

.fb {
    width:260px;
    float:right;
    position:relative;
    top: -35px;
    height:28px;
}
.fb_bird_detail {
    float:left;
    margin-top: 3em;
}

.thumbnail{
position: relative;
z-index: 0;
}

.thumbnail:hover{
background-color: white;
z-index: 50;
}

 /*CSS for enlarged image*/
.popupimage {
position: absolute;
left: -1000px;
visibility: hidden;
}

.popupimage img {
border: 1px #87331f solid;
}

.thumbnail:hover .popupimage {
visibility: visible;
top: 0;
left: 100px; 
top: 20px;
}

.map_legend {
    float:left !important;
}

.na_map {
    width: 250px;
    margin-top: 3em;
}