﻿<%@ Master Language="C#" MasterPageFile="birdweb.master" AutoEventWireup="true" CodeFile="birdweb_interior.master.cs" Inherits="birdweb_interior" %>
<%@ Register TagPrefix="sas" TagName="search" Src="components/search_box.ascx" %>
<%@ Register TagPrefix="sas" TagName="promo" Src="components/sas_promo.ascx" %>
<%@ Import Namespace="BirdWeb" %>
<asp:Content ID="Content1" ContentPlaceHolderID="mainnav" Runat="Server">
    <table class='topnav'>
        <tr>
            <td>
                <sas:search runat='server' AdditionalCSSClass='small'></sas:search>
            </td>
            <td class='topnavmenu'>
                <ul>
                    <li id='menuhome'><a href='<%= Util.MakeUrl("")%>'>Home</a></li>
                    <li id='menubirds'><a href='<%= Util.MakeUrl("birds")%>'>Birds</a></li>
                    <li id='menuecoregions'><a href='<%= Util.MakeUrl("sites")%>'>Birding Sites and Ecoregions</a></li>
                </ul>
            </td>
        </tr>
    </table>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="sidenav" Runat="Server">
<nav class='sidenav unit' id='leftside'>
<asp:ContentPlaceHolder ID="sidenav" runat="server">
</asp:ContentPlaceHolder>
<sas:promo runat="server" Location="leftnav"></sas:promo>
</nav>
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="content" Runat="Server">
<article class='content' id='maincontent'>
<asp:ContentPlaceHolder ID="content" runat="server">
</asp:ContentPlaceHolder>
</article>
<script type="text/javascript">
    $(document).ready(function () {
        if ($("#leftside").height() > $("#maincontent").height()) {
            $("#maincontent").css("min-height",$("#leftside").height());
        } else {
            $("#leftside").css("min-height", $("#maincontent").height());
        }
    });
</script>
</asp:Content>